[submodule "crosschain-flashloan/lib/forge-std"]
	path = crosschain-flashloan/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "crosschain-flashloan/lib/interop-lib"]
	path = crosschain-flashloan/lib/interop-lib
	url = https://github.com/ethereum-optimism/interop-lib
[submodule "crosschain-flashloan/lib/solady"]
	path = crosschain-flashloan/lib/solady
	url = https://github.com/vectorized/solady
[submodule "crosschain-flashloan/lib/openzeppelin-contracts"]
	path = crosschain-flashloan/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
